<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZqq0_un3e_Li_WYYbzh0m4m351hMhE_o</string>
	<key>GCM_SENDER_ID</key>
	<string>228424606341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.congtruyen.bookingDemoApp</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-7101158818</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-7101158818.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228424606341:ios:1502c606d76cb1acb9ffec</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-7101158818.firebaseio.com</string>
</dict>
</plist>